.container-news {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

.container-top {
    height: auto;
    display: none;
}


/*css container-left*/

.container-left {
    width: 20%;
}
.container-news a{
	text-decoration: none;
}
.container-news a:hover {
    color: #F40614;
}

.block {
    margin-top: 30px;
}

.block-title {
    color: white;
    height: auto;
    text-align: center;
    text-transform: uppercase;
    background-color: red;
    min-width: 120px;
	margin-top:20px;
	margin-bottom: 20px;
}
.block-title h3 {
    font-size: 16px;
}

.block-content {
    font-size: 14px;
    border: 0.5px;
    border-color: #D0CACA;
    border-style: solid;
    padding-left: 7%;
    padding-right: 7%;
    text-align: left;
    min-width: 120px;
    padding-bottom: 20px;
}

p.time {
    font-size: 13px;
    color: #AAAAAA;
    padding-top:10px;
    padding-bottom:10px;
}

p.content {
    margin: 0px 20px;
}

.container-news img {
    padding: 10px;
    width: 100%;
    height: auto;
	border:solid;
	border-color:#CFC7C8;
	border-width: 1px;
}
.content-news img{
	margin-top:20px;
	margin-bottom: 20px;
}
.block-content li {
    font-size: 14px;
    padding-top: 15px;
}

.number-of-access {
    padding-top: 20px;
    display: flex;
}

.number {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    background-color: #4E4949;
    color: white;
    font-weight: bold;
}

.statistics {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px;
    border-color: #D0CACA;
    border-style: solid;
}


/*end-container-left*/


/*start css container-right*/

.container-right {
    width: 65%;
    margin-top: 30px;
    min-width: 150px;
	margin-right: 5%;
}

.container-right h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #434141;
}

.image-text {
    width: 100%;
    display: block;
    justify-content: space-between;
    min-width: 150px;
   padding-top: 20px;
   margin-top:20px;
}

.image {
    float: left;
    width: 20%;
    height: auto;
    min-width: 150px;
	margin-right:30px;
}

.text {
    display: inline;
    width: 70%;
    min-width: 150px;
}

.text h4 {
    text-transform: uppercase;
}

.see-more {
    text-align: center;
    !color: white;
    width: 100px;
    height: 30px;
    background-color: #2D2B2B;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align:center;
	display: inline-block;
}
.see-more a{
	color: white  !important;
}
.see-more a:hover {
    color: white;
}

.see-more:hover {
    opacity: 0.7;
}

.post{
	width:100%;
	display: block;
}
.post p{
	display: block;
}

img.center{
	margin-top:40px;
	margin-bottom:40px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	height: auto;
}
img.icon{
	display:inline;
	height: 35px;
	width: auto;
	border: none;
}
.block-comment{
	padding:50px;
	width:80%;
	background-color:#F1F0F4;
		
}
.block-comment input{
	height:30px;
	widht:80%;
	min-width:400px;
}
#textArea{
	height:100px;
	widht:80%;
	min-width:400px;
}
/*reponsive for none pc*/

@media screen and (max-width: 600px) {
    .container-news {
        display: inline;
    }
    .container-left img {
        max-width: 300px;
        width: 100%;
    }
    .container-left {
        width: 100%;
    }
    .container-right {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .container-news {
        display: inline;
    }
    .container-left img {
        max-width: 300px;
        width: 100%;
    }
    .container-right {
        width: 100%;
    }
    .image-text {
        display: inline;
    }
    .image {
        width: 25%;
    }
    .text {
        width: 100%;
    }
}
