/*start footer*/

.footer-top {
  margin-top: 30px;
  padding-top: 20px;
  width: 100%;
  height: auto;
  background: #333333;
  display: block;
  float: left;
}

.footer-grid {
  height: auto;
  display: block;
  float: left;
  text-align: left;
  margin-left: 20px;
  justify-content: space-between;
  color: #bebebe;
  min-width: 120px;
  padding-bottom: 20px;
}

.footer-grid p {
  font-size: 1.1em;
  padding: 0.4em 0 0.5em 0;
  color: #777;
  line-height: 1.6em;
}

.footer-grid span a {
  font-size: 1.1em;
  font-weight: inherit;
  color: #bebebe;
  padding: 0.4em 0 0.5em 0;
  line-height: 1.6em;
  text-decoration: none;
}

.left-grid {
  width: 20%;
  height: 100%;
}

.center-grid {
  width: 50%;
  height: 100%;
}

.right-grid {
  width: 20%;
  height: 100%;
}

.clear {
  clear: both;
}

.footer-top li {
  padding-bottom: 15px;
}

.center-grid li {
  border: 0.5px;
  border-style: hidden hidden outset hidden;
  margin-bottom: 10px;
  border-color: #a09f9f;
  font-size: 1em;
  padding: 0.4em 0 0.5em 0;
  color: #777;
}

.footer-grid h3 {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana,
    "sans-serif";
  text-transform: uppercase;
  color: #f2f2f2;
  font-size: 1.4em;
  font-weight: inherit;
  padding-bottom: 15px;
}

.left-grid a {
  text-decoration: none;
  color: #bebebe;
}

.footer-grid a:hover {
  text-decoration: underline;
  text-decoration-color: #42b4eb;
  color: #42b4eb;
}

.footer-top ul {
  list-style-type: none;
  margin: 0;
  padding-bottom: 10px;
}

ul.follow_icon li {
  background-color: #333333;
  margin-left: 5px;
  display: inline;
}

.follow_icon a {
  background-color: #333333;
  text-decoration: none;
  /*    border-radius: 25%;*/
}

.follow_icon a:hover {
  background-color: #42b4eb;
  border-radius: 25%;
}

.copy-right {
  width: 100%;
  height: auto;
  background-color: black;
  text-align: center;
  display: block;
  float: left;
  color: #bebebe;
  padding-bottom: 15px;
  padding-top: 15px;
}

.copy-right a {
  text-decoration: none;
}

.copy-right a:hover {
  text-decoration: underline;
  text-decoration-color: #42b4eb;
  color: #42b4eb;
}

/*reponsive footer*/

@media screen and (max-width: 800px) {
  .footer-grid {
    float: none;
  }
  .left-grid {
    width: 100%;
  }
  .center-grid {
    width: 100%;
  }
  .right-grid {
    width: 100%;
  }
}

/*end reponsive footer*/

/* color */

.text-white {
  color: #ffffff;
}

/*colored background*/

.black-bg {
  background: #171717 !important;
}

/* header */

* {
  box-sizing: border-box;
}

.header {
  overflow: hidden;
  background-color: black;
  padding: 10px 10px;
  height: 52px;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 5px;
  text-decoration: none;
  font-size: 12px;
  line-height: 10px;
  border-radius: 4px;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-right {
  float: right;
  font-weight: bold;
}

.header-left {
  padding-top: 5px;
  padding-left: 50px;
  float: left;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  color: #fff;
}

.header-left img {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
  .header-left {
    float: none;
  }
}

/* Top left */

/*top - right*/

/* Navigation */

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font: inherit;
  margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  width: 50%;
  left: 0;
}

.dropdown-content .header {
  background: red;
  padding: 5px;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */

.column {
  float: left;
  width: 35%;
  padding: 10px;
  background-color: #333;
  height: 250px;
}

.column a {
  float: none;
  color: white;
  padding: 5px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.column h3 {
  text-align: center;
  color: white;
}

.column a:hover {
  background-color: gray;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    height: auto;
  }
}

/* -----------------------------------Table -----------------------------*/

.responstable {
  width: 100%;
  overflow: hidden;
  background: #fff;
  color: #000000;
  border-radius: 5px;
  border: 1px solid#ff1a1a;
  font-family: "Be Vietnam";
}

.responstable tr {
  border: 1px solid #d9e4e6;
}

.responstable tr:nth-child(odd) {
  background-color: #eaf3f3;
}

.responstable th {
  display: none;
  border: 1px solid #fff;
  background-color: #ff1a1a;
  color: #fff;
  /* padding: 1em; */
}

.responstable td b {
  width: 200px;
  height: 50px;
  text-align: center;
  font-size: 17px;
}

.responstable img {
  width: 150px;
  height: 80px;
}

.responstable thead tr th {
  font-size: 15px;
  text-align: center;
  font-weight: bold;
}

.responstable th:first-child {
  display: table-cell;
  text-align: left;
}

.responstable th:nth-child(2) {
  display: table-cell;
}

.responstable th:nth-child(2) span {
  display: none;
}

.responstable th:nth-child(2):after {
  content: attr(data-th);
}

@media (min-width: 480px) {
  .responstable th:nth-child(2) span {
    display: block;
  }
  .responstable th:nth-child(2):after {
    display: none;
  }
}

.responstable td {
  display: block;
  word-wrap: break-word;
  max-width: 10em;
}

.responstable td:first-child {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #d9e4e6;
}

@media (min-width: 480px) {
  .responstable td {
    border: 1px solid #d9e4e6;
  }
}

.responstable th,
.responstable td {
  text-align: left;
  /* margin: .5em 1em; */
}

.responstable td span {
  font-size: 13px;
}

@media (min-width: 480px) {
  .responstable th,
  .responstable td {
    display: table-cell;
    padding: 20px;
  }
}

h1 {
  font-family: "Be Vietnam";
  font-weight: normal;
  color: #024457;
  text-align: center;
}

h1 span {
  color: #167f92;
}

/* Button */

.button-contact1 {
  background-color: #167f92;
  width: 200px;
  height: 40px;
  margin: 10px;
}

.button-contact1:hover {
  background-color: #1ac6ff;
}

.button-contact1 img {
  margin-left: 30px;
  margin-right: 5px;
  width: 15px;
  height: 20px;
  float: left;
}

.button-contact1 p {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  width: 200px;
  height: 40px;
}

.button-contact2 {
  background-color: #737373;
  width: 200px;
  height: 40px;
  margin: 10px;
}

.button-contact2 :hover {
  background-color: #808080;
}

.button-contact2 img {
  margin-left: 30px;
  margin-right: 5px;
  width: 15px;
  height: 20px;
  float: left;
}

.button-contact2 p {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  text-align: left;
  width: 200px;
  height: 40px;
}
