.dropdownadmin {
    float: right;
    overflow: hidden;
}

.dropdownadmin .dropbtn {
    font-size: 66px;
    border: none;
    outline: none;
    color: white;
    padding: 0px 16px;
    background-color: inherit;
    font: inherit;
    margin: 0;
}

.navbar a:hover,
.dropdownadmin:hover .dropbtn {
    background-color: red;
}

.dropdownnew {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    float: right;
}

.dropdownnew .header {
    background: red;
    padding: 16px;
    color: white;
}

.dropdownadmin:hover .dropdownnew {
    display: block;
}


/* Create three equal columns that floats next to each other */

.columnnew {
    float: right;
    width: 20%;
    padding: 10px;
    background-color: #ccc;
    height: 70px;
}

.columnnew a {
    float: none;
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.columnnew a:hover {
    background-color: #ddd;
}


/* Clear floats after the columns */

.row-new:after {
    /* content: "";
    display: table;
    clear: both; */
}

.product-list {
    font-size: 20px;
    font-weight: bold;
    padding-right: 300px;
}